* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: black;
    font-family: monospace;
    font-size: 20px;
}

h1 {
    font-size: 50px;
    margin-bottom: 5px;
}

.tilesContainer {
    overflow-x: hidden; 
    overflow-y: auto;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 170px;
    background-color: #285D34;
    z-index: 20;
    display: flex;
    flex-direction: column;
}

.tilesContainer::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#yourBlocks {
    background-color: #285D34;
    left: 0;
}

#opponentsBlocks {
    background-color: #0B0B60;
    right: 0;
}

#moveBox {
    position: absolute;
    top: 20px;
    left: 200px;
    width: 170px;
    padding: 12px;
    color: white;
    background: #444444;
    z-index: 21;
    border: 2px solid white;
    border-radius: 15px;
    text-align: center;
    transition: 500;
    animation-fill-mode: forwards;
}

.buttonLeft {
    animation: moveLeft 1s ease-in-out;
}

.buttonRight {
    left: calc(100% - 360px); 
    animation: moveRight 1s ease-in-out;
}

@keyframes moveLeft {
    from { left: calc(100% - 400px); }
    to { left: 200px; }
}

@keyframes moveRight {
    from { left: 200px; }
    to { left: calc(100% - 400px);  }
}

.login {
    font-size: 25px;
    color: white;
    margin: 20px;
    margin-top: 30px;
    text-align: center;
    max-width: 130px;
    word-wrap: break-word;
}

.points {
    text-align: center;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
}

.block {
    margin: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    transition: 300;
    border: none;
}

.blockButton:hover {
    background-color: lightgray;
}

.finishButton {
    background-color: #cc3322;
    font-size: 20px;
    height: 40px;
    transition: 300;
    margin-bottom: 20px;
}

.finishButton:hover {
    background-color: #ee5544;
}

#background {
    width: 100%;
}

#logingDialog {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-image: url("./textures/background2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logingBox {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    justify-content: center;
    /* border: 2px solid white; */
    border-radius: 10px;
    background: #111111;
}

input[type="text"] {
    text-align: center;
    padding: 5px;
    margin: 15px;
    font-size: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid white;
}

::placeholder {
    color: white;
}

.dialogButton {
    border: white;
    border-radius: 10px;
    padding: 8px;
    font-size: 18px;
    background-color: white;
    color: black;
    font-weight: bold;
    margin: 10px;
    width: 140px;
    transition: 300ms;
}

.dialogButton:hover {
    background-color: gray;
}

#dialog {
    font-size: 50px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#counter {
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 90px;
    transform: translate(-50%, -50%);
    z-index: 11;
}

.mist {
    background-color: black;
    opacity: 50%;
}

.invisible {
    visibility: hidden;
}

#root {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}